[Unit]
Description=Docker nginx-proxy container
Requires=docker.service
After=docker.service

[Service]
Environment='CNAME=nginx-proxy' 'BRNAME=vbr_docker0' 'DROUTE=172.17.42.1'
Environment='IFNAME=nxproxy0' 'IPADDR=172.17.42.18/24' 'MACADDR=02:42:AC:11:00:12'

ExecStart=/usr/bin/docker start --attach ${CNAME}
ExecStartPost=/opt/docker/scripts/network/namespace_setup.sh
ExecStop=/usr/bin/docker stop ${CNAME}
ExecStopPost=-/opt/docker/scripts/systemd/scope_stop.sh
ExecStopPost=-/usr/bin/ip link delete ve_${IFNAME}
ExecStopPost=-/usr/bin/find -L /run/netns -type l -delete

[Install]
WantedBy=multi-user.target
