[Unit]
Description=Docker kibana container
Requires=docker.service docker_elasticsearch.service
After=docker.service docker_elasticsearch.service

[Service]
Environment='CNAME=kibana' 'BRNAME=vbr_docker0' 'DROUTE=172.17.42.1'
Environment='IFNAME=kibana0' 'IPADDR=172.17.42.4/24' 'MACADDR=02:42:AC:11:00:04'

SuccessExitStatus=143
ExecStart=/usr/bin/docker start --attach ${CNAME}
ExecStartPost=/opt/docker/scripts/network/namespace_setup.sh
ExecStop=/usr/bin/docker stop ${CNAME}
ExecStopPost=-/opt/docker/scripts/systemd/scope_stop.sh
ExecStopPost=-/usr/bin/ip link delete ve_${IFNAME}
ExecStopPost=-/usr/bin/find -L /run/netns -type l -delete

[Install]
WantedBy=multi-user.target
