[Unit]
Description=Docker openhab container
Requires=docker.service docker_psql-openhab.service
After=docker.service docker_psql-openhab.service

[Service]
Environment='CNAME=openhab' 'BRNAME=vbr_docker0' 'DROUTE=172.17.42.1'
Environment='IFNAME=openhab0' 'IPADDR=172.17.42.13/24' 'MACADDR=02:42:AC:11:00:0D'

SuccessExitStatus=143
ExecStartPre=/usr/bin/bash /opt/docker/scripts/update_container.sh ${CNAME} 'off'
ExecStart=/usr/bin/docker start --attach ${CNAME}
ExecStartPost=/usr/bin/bash /opt/docker/scripts/namespace_setup.sh
ExecStop=/usr/bin/docker stop ${CNAME}
ExecStopPost=-/usr/bin/bash /opt/docker/scripts/scope_stop.sh
ExecStopPost=-/usr/bin/ip link delete ve_${IFNAME}
ExecStopPost=-/usr/bin/find -L /run/netns -type l -delete

[Install]
WantedBy=multi-user.target
